#disc {
    margin-left: 30px;
    list-style: decimal;
}
/* Start Body*/
body {
    margin-bottom: 100px;
}
/* Start Main */
body main h1 {
    font-size: 47px;
    font-weight: bold;
    margin: 15px 0px 15px 0px;
}
body main ol p {
    padding-left: 15px;
    padding-top: 15px;
}
body main ol li {
    padding-top: 5px;
    padding-bottom: 5px;
}
body main p {
    padding-left: 15px
}
body main img {
    padding-bottom: 15px;
}